In [9]:
from random import randint
import pandas as pd

In [10]:
names = ["Alex", "Beth", "J", "P", "Morgan", "Chase", "Poineer"]

scores = {name: randint(0, 100) for name in names}
scores

{'Alex': 19,
 'Beth': 19,
 'J': 30,
 'P': 88,
 'Morgan': 99,
 'Chase': 80,
 'Poineer': 18}

In [11]:
passedStudents = {nameq: scoreq for (nameq, scoreq) in scores.items() if scoreq >= 60}
passedStudents

{'P': 88, 'Morgan': 99, 'Chase': 80}

In [12]:
sentence = "What is the Airspeed Velocity of an Unladen Swallow?"

result = {key: len(key)  for key in sentence.split(" ")}

print(result)

{'What': 4, 'is': 2, 'the': 3, 'Airspeed': 8, 'Velocity': 8, 'of': 2, 'an': 2, 'Unladen': 7, 'Swallow?': 8}

In [13]:
weather_c = {
    "Monday": 12,
    "Tuesday": 14,
    "Wednesday": 15,
    "Thursday": 14,
    "Friday": 21,
    "Saturday": 22,
    "Sunday": 24,
}

weather_f = {key: ((value * 1.8) + 32) for (key, value) in weather_c.items()}

print(weather_f)

{'Monday': 53.6, 'Tuesday': 57.2, 'Wednesday': 59.0, 'Thursday': 57.2, 'Friday': 69.80000000000001, 'Saturday': 71.6, 'Sunday': 75.2}

In [14]:
data = {"students": ["A", "B", "C", "D", "E"],
        "Score": [12, 45, 76, 98, 12]}

df = pd.DataFrame(data)
df

  students  Score
0        A     12
1        B     45
2        C     76
3        D     98
4        E     12

In [21]:
for (index, rows) in df.iterrows():
    print(index, rows)

0 students     A
Score       12
Name: 0, dtype: object
1 students     B
Score       45
Name: 1, dtype: object
2 students     C
Score       76
Name: 2, dtype: object
3 students     D
Score       98
Name: 3, dtype: object
4 students     E
Score       12
Name: 4, dtype: object