In [16]:
import pandas as pd
from datetime import datetime

In [55]:
#df = pd.read_csv("Day 18, SMTPlib, Datetime/Automated Birthday Wisher/birthdays.csv")
df = pd.read_csv("birthdays.csv")
df

   name                 email  year  month  day
0  Test        test@email.com  1961     12   21
1  Arry  ar10936325@gmail.com  2022     11   19

ts

In [29]:
now = datetime.now()
month = now.month
day = now.day

if(df[df["month"] == month].__len__() >= 1):
    
    if(df[df["month"] == month]["day"] == day):
        print("True")

True

In [56]:
temp = df[df["month"] == month]
temp = temp[temp["day"] == day]

In [41]:
{"names": temp["name"],
"email": temp["email"],
"year": temp["year"]}

{'names': 1     Arry
 2    Arry2
 Name: name, dtype: object,
 'email': 1    ar10936325@gmail.com
 2    ar10936325@gmail.com
 Name: email, dtype: object,
 'year': 1    2022
 2    2022
 Name: year, dtype: int64}

1     Arry
2    Arry2
Name: name, dtype: object

In [48]:
temp.__len__()

1

In [57]:
for i in range(0, temp.__len__()):
    print(temp.iloc[i])

In [59]:
msg = "[NAME]"
msg = msg.replace("[NAME]", "test")
msg

'test'

In [60]:
"test".lower()

'test'